.footer{
    display: flex;
    flex-direction: column;

    &__info{
        background-color: #344334;
        min-height: 46px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &-element{
            color: #CCCCCC;
            font-size: 13px;
            margin: 3px 0;
            text-align: center;
            width: 100%;

            @media (min-width: 768px) {
                width: auto;
            }
        }

        @media (min-width: 978px) {
            padding: 0 35px;
        }
    }
}

.footer .header{
    position: initial;
    top: initial;
    left: initial;
    background-color: #348335;
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.footer .navigation__link{
    color: #DCE3DC;

    &--active::before{
        display: none;
    }
}

.footer .header__languages{

    &-language{
        color: #A6B8A7;
    }
  
}