@import "../../styles/variables.scss";

.products{
    background-color: $bcgr-section-color;
    width: 100%;
    
}

.products .section-wrapper{
    display: grid;
    width: 100%;
    grid-template-rows: minmax(300,100%);
    grid-template-columns: auto;

    gap: 20px 50px;
    padding-top: 50px;

    @media (min-width:978px) {
        grid-template-rows: 50px;
        grid-template-columns: 650px auto;
    }
}

.products__slider{
    grid-row: initial;
    width: 100%;
    min-width: 300px;
    position: relative;

  @media (min-width:978px) {
    grid-row: 1/3;
}

   &-img{
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
    filter: brightness(.9);

    &:nth-last-of-type(1){
        margin-right: 0;
    }
   }



   &-btns{
    position: absolute;
    bottom: 3%;
    left: 2%;
    display: flex;
    z-index: 1;
  
   }

   &-btn{
       display: block;
       width: 47px;
        height: 47px;
        background: #f8faf8;
        border: none;
        margin-right: 10px;
        cursor: pointer;
        

        & > span{
            color: black;
            font-size: 1rem;
        }
   }

   &-main{
       position: relative;
   }
}

.products__slider-gallery .swiper-wrapper{
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & > div > img{
        height: auto;
        max-height: 90px;
        min-height: 60px;
        width: 100%;
        max-width: 140px;
        min-width: 60px;
        display: block;
      
        cursor: pointer;
        filter: brightness(.9);
        padding: 10px 5px 0 10px;

        &:nth-of-type(1){
            padding-left: 0;
        }

        &:nth-last-of-type(1){
            padding-right: 0;
        }

        
    }
}

.products__title{
   grid-column: initial;
   grid-row: 1/1;
  
   color: #286529;
   font-weight: bold;
   font-size: 26px;

   @media (min-width:978px) {
    grid-column: 2/2;
    grid-row: 1/1;
    height: 200px;
}

   &::first-letter{
       text-transform: uppercase;
   }
}

.products__details{
    grid-column: initial;
    grid-row: initial;
   height: 100%;

   @media (min-width:978px) {
    grid-column: 2/2;
    grid-row: 2/3;
}

&-order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    max-width:  398px;
    height: 66px;
    border-radius: 5px;
    background: #a99586;
    padding: 0 10px;
    margin-bottom: 20px;
   

    & > p{
        margin-left: 25px;
        line-height: 18px;
        font-family: "Nunito Sans";
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
    }

    & > img{
        background-image: url("../../img/product__details-exclamation.png");
        background-repeat: no-repeat;
        background-position: center 5px;
    }
}

   &-sizes{
        
   }

   &-title{
            color: #759076;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;

    &-img{
        margin-right: 10px;
    }
   }

   &-elements{
    display: flex;
    justify-content: flex-start;
    //align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

   
    &:nth-of-type(2){
        background-color: yellowgreen;
    }
   }

   &-element{
       padding: 10px 10px;
       border-radius: 5px;
       border: 1px solid #DCE3DC;
       font-size: 16px;
       color: #90A690;
       margin: 20px 10px 0 0;
       width: fit-content;
       max-width: 200px;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
      

       &-title{
           text-align: center;
           display: block;
       }
  
       

       &-block{
           display: block;
       }

       &-img{
           display: block;
           margin: 0 auto;
           padding: 10px 15px;
           
       }

       &:nth-last-of-type(1){
      //  margin-right: 0;
       }
   }

   &-description{
       font-size: 16px;
       color: #344334;
       line-height: 32px;
       font-weight: 600;

       & > p > strong{
           color: #43A944;
           font-weight: normal;
           font-weight: 600;
       }

       
   }

  

   &-download{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       min-width: 300px;
       max-width: 343px;
       height: 42px;
       border-radius: 5px;
       background: #c28e66;

       & > img{
           margin-right: 10px;
       }

       & > p > a{
           text-decoration: none;
           color: white;
       }
   }
}



.products__slider-gallery .slider-wrapper{
    max-width: 400px;
}
.swiper-container{
    
}
.products__slider-main .swiper-slide{
    width: 100% !important;
  
}

.products__slider-gallery .swiper-slide{
  
   
}