
.article{
    height: 100vh;
    background-image: url("../img/article_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px 30px;
    

    @media (min-width: 978px) {
       height: 95vh;
    }

    &__img{
        margin-top: 80px;
        transform: translate(-30px,-10px);
    }
}

.article__contact{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 30px 20px;
    
    @media (min-width: 400px) {
        height: 180px;
    }

    @media (min-width: 978px) {
        left: initial;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 5px 0 0;
    }

    &-img{

    }
}

.article__content{
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 400px) {
        margin-bottom: 15px;
    }

    @media (min-width: 768px) {
        margin: 0 auto;
    }

    &-sub-title{
        background-color: #2536259f;
        padding: 15px;
        color: #C28E66;
        text-transform: uppercase;
        font-size: 32px;
        width: fit-content;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: center;

        @media (min-width: 400px) {
            margin-bottom: 30px;
        }

        @media (min-width: 768px) {
            font-size: 52px;
        }

        &_important{
            color: #43A944;
            font-weight: 900;
        }
    }

    &-title{
        background-color: #253625a6;
        padding: 15px;
        font-size: 32px;
        color: white;
        width: fit-content;
        text-align: center;
        font-weight: normal;

        &::first-letter{
            text-transform: uppercase;
        }

        @media (min-width: 768px) {
        font-size: 52px;
    }

    &_important{
            color: #C28E66;
            font-weight: 900;
        }

    }

    &-btn{
        background-color: #C28E66;
        width: 125px;
        height: 50px;
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 20px;
        cursor: pointer;
        @media (min-width: 400px) {
            margin-top: 60px;
        }
       
    }
}

.article__numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(0%);
    margin-bottom: 30px;

    @media (min-width: 430px) {
        right: initial;
        left: 50%;
        max-width: 300px;
        transform: translateX(-50%);
    }

    @media (min-width: 768px) {
        left: initial;
        right: 1%;
        bottom: 13%;
        margin-bottom: 0;
        transform: translateX(0%);
    }

    &-number{
        display: block;
        padding: 0 15px;
        font-weight: bold;
        font-size: 16px;

        @media (min-width: 768px) {
            font-size: 26px;
        }

       &:nth-of-type(1){
           order: 1;
       }
       &:nth-of-type(2){
        order: 2;
    }
        &:nth-of-type(3){
        order: 3;
    }
    }
    &::after,&::before{
        content: "";
        flex-grow: 1;
        background-color: white;
        height: 3px;
        order: 2;
    }
}

.article__gate{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
  

    &-img{
        object-fit: fill;
        height: fit-content;
    }
   
    &-first{
        left: initial;
        right: 0;
        transform: translateX(300px) translateY(270px);

        @media (min-width: 1200px) {
            transform: translateX(250px) translateY(270px);
         }
    }

    &-second{
        transform: translateX(-300px) translateY(270px);

        @media (min-width: 1200px) {
            transform: translateX(-250px) translateY(270px);
         }
    }

    @media (min-width: 978px) {
       display: block;
    }
}

