.contact{
    background-color: $bcgr-section-color;
    padding: 4rem 1rem 4rem 1rem;
}

.contact .section-wrapper{

}
.contact__title{

    margin-bottom: 40px;

    &-text{
        display: block;
        font-size: 20px;
        color: #59735A;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 600;
    }
}

.contact__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 500px;
        margin-top: 4rem;

    @media (min-width:978px) {
        flex-direction: row;
        align-items: initial;
    }

    &-content{
        width: 600px;
        height: 100%;
       
    }

    &-map{
        flex-grow: 1;
        display: block;
       height: 100%;
    }
}


.contact__container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
  
    &-adress{
        width: 100%;
        min-height: 170px;
        background-color: #43A944;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 6rem;

        &_title{
            margin-bottom: .4rem;
            font-size: 16px;
            
        }

        &-elements{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_element{
                display: flex;
                font-size: 16px;
                font-style: normal;

                &:nth-last-of-type(1){
                    margin-top: 3px;
                }

                & > img{
                    margin-right: 15px;
                }
            }
        }
    }

    &-contacts{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        min-width: 500px;
        min-height: 280px;

        &-contact{
            display: flex;
            width: 100%;
            padding-left: 6rem;
            
            &-img{
                display: block;
                height: 120px;
            }

            &-details{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 0 15px 15px;

                &_name{
                    font-weight: 600;
                    font-size: 16px;
                    color: #59735A;
                    margin-bottom: 10px;
                }

                &_telephone{
                    color: #90A690;
                    margin-bottom: 3px;
                     text-decoration: none;
                     font-size: 16px;
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    } 

                    & > img{
                        margin-right: 10px;
                    }
                }

                &_email{
                    color: #90A690;
                    margin-bottom: 3px;
                     text-decoration: none;
                     font-size: 16px;
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    } 

                    & > img{
                        margin-right: 10px;
                    }
                }
            }
        }

        &-element{
            // AFTER
        }


    }
}