.products{
    background-color: $bcgr-section-color;
}

.products .section-wrapper{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: auto auto;
  
    gap: 20px 50px;
    padding-top: 50px;
}

.products__slider{
  grid-row: 1/3;

   &-img{
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;

    &:nth-last-of-type(1){
        margin-right: 0;
    }
   }
}

.products__slider-gallery{
    width: 100%;
    height: 95px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-img{
        display: block;
        max-width: 140px;
        height: 100%;
        margin-right: 10px;
        cursor: pointer;
    
        &:nth-last-of-type(1){
            margin-right: 0;
        }
    }
}

.products__title{
   grid-column: 2/2;
   grid-row: 1/1;
   height: 200px;
   color: #286529;
   font-weight: bold;
   font-size: 26px;

   &::first-letter{
       text-transform: uppercase;
   }
}

.products__details{
   grid-column: 2/2;
   grid-row: 2/3;
   height: 100%;
}